In [1]:
from pybacktestchain import data_module
from pybacktestchain.data_module import *

In [24]:
df = get_stocks_data(['AAPL', 'MSFT'], '2000-01-01', '2020-12-31')
df

,Date,Open,High,Low,Close,Adj Close,Volume,ticker
0,2000-01-03 00:00:00-05:00,0.936384,1.004464,0.907924,0.999442,0.843076,535796800,AAPL
1,2000-01-04 00:00:00-05:00,0.966518,0.987723,0.903460,0.915179,0.771997,512377600,AAPL
2,2000-01-05 00:00:00-05:00,0.926339,0.987165,0.919643,0.928571,0.783294,778321600,AAPL
3,2000-01-06 00:00:00-05:00,0.947545,0.955357,0.848214,0.848214,0.715509,767972800,AAPL
4,2000-01-07 00:00:00-05:00,0.861607,0.901786,0.852679,0.888393,0.749401,460734400,AAPL
...,...,...,...,...,...,...,...,...
5278,2020-12-23 00:00:00-05:00,223.110001,223.559998,220.800003,221.020004,214.069565,18699600,MSFT
5279,2020-12-24 00:00:00-05:00,221.419998,223.610001,221.199997,222.750000,215.745163,10550600,MSFT
5280,2020-12-28 00:00:00-05:00,224.449997,226.029999,223.020004,224.960007,217.885651,17933500,MSFT
5281,2020-12-29 00:00:00-05:00,226.309998,227.179993,223.580002,224.149994,217.101151,17403200,MSFT
5282,2020-12-30 00:00:00-05:00,225.229996,225.630005,221.470001,221.679993,214.708801,20272300,MSFT

In [25]:
tickers = data_module.data["ticker"].unique()
print(tickers)
print(len(tickers))

['AAPL' 'MSFT']
2

In [26]:
Information(df)

Information(s=                          Date        Open        High         Low  \
0    2000-01-03 00:00:00-05:00    0.936384    1.004464    0.907924
1    2000-01-04 00:00:00-05:00    0.966518    0.987723    0.903460
2    2000-01-05 00:00:00-05:00    0.926339    0.987165    0.919643
3    2000-01-06 00:00:00-05:00    0.947545    0.955357    0.848214
4    2000-01-07 00:00:00-05:00    0.861607    0.901786    0.852679
...                        ...         ...         ...         ...
5278 2020-12-23 00:00:00-05:00  223.110001  223.559998  220.800003
5279 2020-12-24 00:00:00-05:00  221.419998  223.610001  221.199997
5280 2020-12-28 00:00:00-05:00  224.449997  226.029999  223.020004
5281 2020-12-29 00:00:00-05:00  226.309998  227.179993  223.580002
5282 2020-12-30 00:00:00-05:00  225.229996  225.630005  221.470001

           Close   Adj Close     Volume ticker
0       0.999442    0.843076  535796800   AAPL
1       0.915179    0.771997  512377600   AAPL
2       0.928571    0.783294  778321600   AAPL
3       0.848214    0.715509  767972800   AAPL
4       0.888393    0.749401  460734400   AAPL
...          ...         ...        ...    ...
5278  221.020004  214.069565   18699600   MSFT
5279  222.750000  215.745163   10550600   MSFT
5280  224.960007  217.885651   17933500   MSFT
5281  224.149994  217.101151   17403200   MSFT
5282  221.679993  214.708801   20272300   MSFT

[10566 rows x 8 columns], data_module=None, time_column='Date', company_column='ticker', adj_close_column='Close')

**Classe information :**
- permet de couper les donnÃ©es du dÃ©but Ã  une date donnÃ©e
- permet d'avoir le dernier prix (close) Ã  une date donnÃ©e (close de la veille)

In [27]:
data_module = DataModule(df)

#Information : 
info = Information(s = timedelta(data_module.data.size/len(tickers)), data_module=data_module)
info

Information(s=datetime.timedelta(days=42264), data_module=DataModule(data=                          Date        Open        High         Low  \
0    2000-01-03 00:00:00-05:00    0.936384    1.004464    0.907924
1    2000-01-04 00:00:00-05:00    0.966518    0.987723    0.903460
2    2000-01-05 00:00:00-05:00    0.926339    0.987165    0.919643
3    2000-01-06 00:00:00-05:00    0.947545    0.955357    0.848214
4    2000-01-07 00:00:00-05:00    0.861607    0.901786    0.852679
...                        ...         ...         ...         ...
5278 2020-12-23 00:00:00-05:00  223.110001  223.559998  220.800003
5279 2020-12-24 00:00:00-05:00  221.419998  223.610001  221.199997
5280 2020-12-28 00:00:00-05:00  224.449997  226.029999  223.020004
5281 2020-12-29 00:00:00-05:00  226.309998  227.179993  223.580002
5282 2020-12-30 00:00:00-05:00  225.229996  225.630005  221.470001

           Close   Adj Close     Volume ticker
0       0.999442    0.843076  535796800   AAPL
1       0.915179    0.771997  512377600   AAPL
2       0.928571    0.783294  778321600   AAPL
3       0.848214    0.715509  767972800   AAPL
4       0.888393    0.749401  460734400   AAPL
...          ...         ...        ...    ...
5278  221.020004  214.069565   18699600   MSFT
5279  222.750000  215.745163   10550600   MSFT
5280  224.960007  217.885651   17933500   MSFT
5281  224.149994  217.101151   17403200   MSFT
5282  221.679993  214.708801   20272300   MSFT

[10566 rows x 8 columns]), time_column='Date', company_column='ticker', adj_close_column='Close')

In [28]:
t = datetime(2015, 1, 1)
sliced_data_2015 = info.slice_data(t)
sliced_data_2015

,Date,Open,High,Low,Close,Adj Close,Volume,ticker
0,2000-01-03,0.936384,1.004464,0.907924,0.999442,0.843076,535796800,AAPL
1,2000-01-04,0.966518,0.987723,0.903460,0.915179,0.771997,512377600,AAPL
2,2000-01-05,0.926339,0.987165,0.919643,0.928571,0.783294,778321600,AAPL
3,2000-01-06,0.947545,0.955357,0.848214,0.848214,0.715509,767972800,AAPL
4,2000-01-07,0.861607,0.901786,0.852679,0.888393,0.749401,460734400,AAPL
...,...,...,...,...,...,...,...,...
3768,2014-12-24,48.639999,48.639999,48.080002,48.139999,41.420216,11437800,MSFT
3769,2014-12-26,48.410000,48.410000,47.820000,47.880001,41.196510,13197800,MSFT
3770,2014-12-29,47.700001,47.779999,47.259998,47.450001,40.826534,14439500,MSFT
3771,2014-12-30,47.439999,47.619999,46.840000,47.020000,40.456558,16384700,MSFT
3772,2014-12-31,46.730000,47.439999,46.450001,46.450001,39.966125,21552500,MSFT

In [29]:
price_2015 = info.get_prices(t)
price_2015

{'AAPL': 27.594999313354492, 'MSFT': 46.45000076293945}

**Classe First two moments :**

In [38]:
moments = FirstTwoMoments.compute_information(info,t=t)
moments

{'expected_return': array([0.0012898 , 0.00014512]),
 'covariance_matrix': array([[58.72991905, 18.7476256 ],
        [18.7476256 , 36.4826275 ]]),
 'companies': array(['AAPL', 'MSFT'], dtype=object)}

In [42]:
portfolio = FirstTwoMoments.compute_portfolio(info, t=t,information_set = moments)
portfolio

{'AAPL': 0.3072934439854117, 'MSFT': 0.6927065560145883}

#### Blockchain

In [45]:
from blockchain import *

In [44]:
from pybacktestchain import blockchain

#### Broker

In [64]:
from pybacktestchain import broker

In [66]:
from pybacktestchain.broker import *

In [93]:
broker_jean = Broker(10000, verbose = True)
broker_jean

Broker(cash=10000, positions={}, transaction_log=Empty DataFrame
Columns: [Date, Action, Ticker, Quantity, Price, Cash]
Index: [], entry_prices={}, verbose=True)

In [94]:
broker_jean.buy('AAPL',20,150,datetime(2024,12,26))
broker_jean.buy('MSFT',10,10,datetime(2024,12,26))
broker_jean.buy('AAPL',20,160,datetime(2024,12,26))

/Users/jeandeslis/Desktop/Cours M2 203/S1/Python/Projet/pybacktestchain/src/pybacktestchain/broker.py:115: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self.transaction_log = pd.concat([self.transaction_log, transaction], ignore_index=True)

In [95]:
broker_jean.transaction_log

        Date Action Ticker Quantity Price  Cash
0 2024-12-26    BUY   AAPL       20   150  7000
1 2024-12-26    BUY   MSFT       10    10  6900
2 2024-12-26    BUY   AAPL       20   160  3700

In [96]:
broker_jean.sell('MSFT',5,15,datetime(2024,12,26))

In [97]:
broker_jean.transaction_log

        Date Action Ticker Quantity Price  Cash
0 2024-12-26    BUY   AAPL       20   150  7000
1 2024-12-26    BUY   MSFT       10    10  6900
2 2024-12-26    BUY   AAPL       20   160  3700
3 2024-12-26   SELL   MSFT        5    15  3775

In [98]:
broker_jean.positions

{'AAPL': Position(ticker='AAPL', quantity=40, entry_price=155.0),
 'MSFT': Position(ticker='MSFT', quantity=5, entry_price=10)}

In [106]:
Market_val = {"AAPL": 153, "MSFT": 12}
broker_jean.get_portfolio_value(Market_val)

9955

Execute the mean variance portfolio :

In [109]:
mean_var_ptf = broker_jean.execute_portfolio(portfolio = portfolio, prices=Market_val, date = datetime(2024, 12, 26))
mean_var_ptf

In [111]:
broker_jean.transaction_log

        Date Action Ticker Quantity Price  Cash
0 2024-12-26    BUY   AAPL       20   150  7000
1 2024-12-26    BUY   MSFT       10    10  6900
2 2024-12-26    BUY   AAPL       20   160  3700
3 2024-12-26   SELL   MSFT        5    15  3775
4 2024-12-26   SELL   AAPL       20   153  6835
5 2024-12-26    BUY   MSFT      569    12     7

In [110]:
broker_jean.positions

{'AAPL': Position(ticker='AAPL', quantity=20, entry_price=155.0),
 'MSFT': Position(ticker='MSFT', quantity=574, entry_price=11.982578397212544)}

In [125]:
print(EndOfMonth.time_to_rebalance(broker_jean, t = datetime(2024,12,31)))

True

In [137]:
backtest = Backtest(initial_date='2024-01-01',
                    final_date='2024-12-31', name_blockchain= "Blockchain20241226")

AttributeError: 'Broker' object has no attribute 'Backtest'

In [135]:
Backtest.run_backtest